<div class="container mt-4 ">
    <div class="ml-auto d-flex mb-2">
        <a href="#" class="btn btn-light mr-2"> <i class="fa-solid fa-arrow-left-long"></i></a>
        <h3 class="ms-2">{{mentorProfile?.FirstName}} {{mentorProfile?.LastName}}</h3>
    </div>
    <div class="row">
        <div class="col-xl-7 col-12">

            <!-- Main Card -->
            <div class="card p-5" style="border-radius: 15px;">
                <!-- Header with Background -->
                <div style=" border-radius: 15px 15px 0 0; padding: 20px;">
                    <div class="d-flex align-items-center">
                        <span class="badge badge-pill badge-light"
                            style="background-color: #ffe0e6; color: #ff3366; font-weight: bold;">1:1 Call</span>
                    </div>
                    <h5 class="mt-3">Quick Call</h5>
                    <p class="text-muted"><i class="far fa-clock"></i> 60 Min</p>
                    <h6>About Service</h6>
                    <p>60 mins quick call to achieve your goals faster with a personalized roadmap.</p>
                    <h6>Skills</h6>
                    <div class="gap-2 d-flex flex-wrap">

                    

                    <div *ngFor="let skill of mentorProfile?.Skills" class="skill-circle">
                        {{ skill }}
                      </div>
                    </div>
                </div>

                <!-- Footer with Profile -->
                <div class="d-flex align-items-center mt-3 p-3">
                    <img src="http://localhost:5164/{{mentorProfile?.Image}}" alt="Harshad Sawant" class="rounded-circle mr-3" width="60">
                    <div class="p-3">
                        <h6>{{mentorProfile?.FirstName}} {{mentorProfile?.LastName}}</h6>
                        <p class="text-muted">{{mentorProfile?.About}}</p>
                    </div>
                    @if(mentorProfile?.SocialAccounts?.length>0){
                    <div class="ml-auto d-flex">
                        <a href="#" class="btn btn-light mr-2"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#" class="btn btn-light"><i class="fa-solid fa-share"></i></a>
                    </div>
                }
                </div>
            </div>



        </div>

        <div class="col-xl-4 col-6 justify-content-center">

            <div class="row">

                <div class="col-xl-4 col-12">
                    <div class="custom-margins">
                        <div class="calendar ">
                         <div>
                         <p style="padding: 20px; width: 100; font-weight: 500;"> Select date and time </p>
                       </div>
                         <!-- <br style="color: gray;"> -->
                         <div class="header" style="border-top: 1px solid #ccc; padding-top: 20px;" >
                           <button class="button-calender" 
                                   (click)="prevMonth()" 
                                   [disabled]="selectedYear === today.getFullYear() && selectedMonth <= today.getMonth()">
                             &#10094;
                           </button>
                           <span>{{ getMonthName(selectedMonth) }} {{ selectedYear }}</span>
                           <button class="button-calender" (click)="nextMonth()">&#10095;</button>
                         </div>
                         
                         <div class="days-of-week">
                           <div *ngFor="let day of daysOfWeek" class="day-name">{{ day }}</div>
                         </div>
                       
                         <div class="days">
                           <div
                             *ngFor="let day of monthDays"
                             [class.disabled]="day.date === null || !isAvailable(day.date)"
                             (click)="day.date && onDaySelect(day.date)"
                             class="day"
                             [ngClass]="{
                               'selected': selectedDate && day.date?.toDateString() === selectedDate.toDateString(),
                               'today': day.date?.toDateString() === today.toDateString()
                             }"
                           >
                             {{ day.date ? day.date.getDate() : '' }}
                           </div>
                         </div>
                     
                        <div *ngIf="selectedTimes?.length > 0" class="available-times row justify-content-between">
                         <p class="custom-p col-6">Now select time</p>
                         <div class="pagination-controls col-4">
                           <button class="button-times" style=" padding-right: 10px;"  (click)="prevPage()" [disabled]="!hasPrevPage()">&#10094;</button>
                           <button class="button-times" style="padding-left: 10px; padding-right: 10px;" (click)="nextPage()" [disabled]="!hasNextPage()">&#10095;</button>
                         </div>
                         <div class="time-buttons-grid">
                           <button
                             *ngFor="let time of paginatedTimeButtons"
                             class="time-button "
                             [ngClass]="{'active': selectedTime === time.StartTime}"
                             (click)="onTimeSelect(time.StartTime, time.EndTime)"
                           
                           >
                             {{ formatTimeToAmPm(time.StartTime) }} - {{ formatTimeToAmPm(time?.EndTime) }}
                           </button>
                         </div>
                       
                         <!-- Pagination controls -->
                        
                       </div>
                       <div class="custom-length">
                         <div *ngIf="message" class="no-availability " style="padding-bottom: 149px;">
                           <div class="alert alert-info animate-alert">
                             {{ message }}
                           </div>
                         </div>
                        </div>
                         <!-- <div class="Title" >
                         <p class="custom-p " >Title</p>
                         <input type="text" class="form-control" placeholder="Session About..." required  [(ngModel)]="Topic" name="Topic" >
                        </div>
                        <div class="Title" >
                            <p class="custom-p " >Description</p>
                            <textarea class="form-control" placeholder="Describe more of what you need from this session" required  [(ngModel)]="Description" name="Description" ></textarea>
                           </div>
                         <div class="mt-2 button-sub">

                           

                           <button [disabled]="!confirmButtonEnabled" (click)="BookSession()" class="confirm-button">Continue</button>
                         </div> -->
                         <div class="Title">
                            <p class="custom-p">Title</p>
                            <input type="text" class="form-control" placeholder="Session About..." required [(ngModel)]="Topic" name="Topic"  (ngModelChange)="onTitleInputChange()"  
                            />
                            <div *ngIf="titleError" style="color: red;">
                              {{ titleError }}
                            </div>
                        </div>
                        <div class="Title">
                            <p class="custom-p">Description</p>
                            <textarea class="form-control" placeholder="Describe more of what you need from this session" required [(ngModel)]="Description" name="Description" (ngModelChange)="validateForm()"></textarea>
                        </div>
                        <div class="mt-2 button-sub" *ngIf="continue==true">
                            <button [disabled]="!confirmButtonEnabled"  (click)="BookSession()" class="confirm-button">Continue</button>
                        </div>
                        <div class="mt-2 button-sub row justify-content-between" *ngIf="pay==true">
                          <button  (click)="displaypayment()"  class="confirm-button2 col-6">Back</button>
                          <button  (click)="displaypayment()"  class="confirm-button1 col-5">Pay {{mentorProfile.Price}} LE</button>
                          
                           
                        
                      </div>

                        
                        </div>

                     
                       </div>
                    </div>                      

            </div>



        </div>

    </div>

</div>


