

<div class="container mt-5">
    <!-- <div class="row justify-content-center"> -->
        <!-- <div class="col-md-4"> -->
            <div class="card text-center">
                <img [src]="deve.imgURL" class="card-img-top" alt="Developer Image">
                <div class="card-body">
                    <h5 class="card-title"><a class="text-decoration-none text-black" href="#">{{deve.name}}</a></h5>
                    <p class="card-text">{{deve.job}}</p>
                    <app-developerrate [value]="deve.rate"></app-developerrate>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
    </div>
    
    
