<nav class="sidebar">
    <div class="profile-section">
      <img src="http://localhost:5164/{{userImageUrl}}" alt="Profile Image" class="profile-image" />
      <h3>Welcome {{ userName || 'User' }}</h3>
      <h3>HR Specialist</h3>
    </div>

    <ul>
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.path" routerLinkActive="active">
          <i [class]="item.icon"></i> {{ item.label }}
        </a>
      </li>
      <div class="logout-section mt-3">
        <button class="btn btn-danger d-flex justify-content-center align-items-center wide-button" (click)="logout()" style="width: 200px;">
          <i [class]="logoutItem.icon" class="me-2"></i> <!-- Logout Icon -->
          <span>{{ logoutItem.label }}</span> <!-- Logout Text -->
        </button>
      </div>
        <div class="logout-section mt-3">
        <button class="btn btn-danger d-flex justify-content-center align-items-center wide-button " (click)="backhome()" style="background-color: black; width: 200px; border: none;">
          <i [class]="homeItem.icon" style="color: white; ;"></i> <!-- Bind logout icon -->
          {{ homeItem.label }} <!-- Bind logout label -->
        </button> <!-- Logout Icon -->
           
         
      </div>
    </ul>
  </nav>
