<div class="forgot-password">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" aria-describedby="emailHelp" />
      <div
        *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
        <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']" id="emailHelp">Email is required.</small>
        <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']" id="emailHelp">Invalid email address.</small>
      </div>
    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
  </form>
</div>