.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f7fa;
  padding: 20px;
}

.card {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

small {
  color: #d9534f;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  background-color: #415bcf;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
.card-image {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically (if needed) */
  width: 50%;
  margin: 0 auto; /* Center the container itself within its parent */
}

.btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
