.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.card {
  border-radius: 5px;
  background-color:#ffffff;
}
.card-header {
  border-bottom: 1px solid #0a2187;
  background-color: #31288d;
  color: #ffffff;
}
.card-body {
  padding: 20px;
}
.form-control {

  border-color: #31288d;
  border: 30px;
  font-size: larger;
  font-weight: bolder;

}
.bg-light {
  background-color: #074c91 !important;
}
.btn-custom {
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
  font-size: 1.25rem; /* Increase font size */
  padding: 0.75rem 1.5rem; /* Increase width and height */
  border-radius: 0.25rem; /* Optional: rounded corners */
  border: none; /* Remove border if desired */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure the button respects padding */
}

.btn-custom:hover {
  background-color: #333; /* Darker shade of black on hover */
  color: #fff; /* Maintain white text color on hover */
}

.btn-success {
  background-color: #f53607; /* Black background */
  color: #fff; /* White text color */
  font-size: 1.25rem; /* Increase font size */
  padding: 0.75rem 1.5rem; /* Increase width and height */
  border-radius: 0.25rem; /* Optional: rounded corners */
  border: none; /* Remove border if desired */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure the button respects padding */
}

.btn-success:hover {
  background-color: #574f4f; /* Darker shade of black on hover */
  color: #fff; /* Maintain white text color on hover */
}
