<!--
<nav class="navbar navbar-expand-md shadow  mb-4 mb-lg-0 sidenav">

  <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>

  <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
    data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="fe fe-menu"></span>
  </button>

  <div class="collapse navbar-collapse" id="sidenav" style="box-shadow: 50px !important; ">
    <div class="navbar-nav flex-column">
      <span class="navbar-header fw-bold">Questions</span>
      <ul class="list-unstyled ms-n2 mb-4">

        <li class="nav-item active">
          <a class="nav-link" href="">
            <i class="fa-solid fa-file-circle-question"></i>
            My queres
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fa-solid fa-rotate-left"></i>
            My Quiz Attempt
          </a>
        </li>
      </ul>

      <span class="navbar-header fw-bold">Account Settings</span>
      <ul class="list-unstyled ms-n2 mb-0">

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fa-solid fa-pen-to-square"></i>
            Edit Profile
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fa-solid fa-lock"></i>
            Security
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fa-solid fa-user"></i>
            Social Profiles
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fa-solid fa-bell"></i>
            Notifications
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fa-solid fa-user-lock"></i>
            Profile Privacy
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fa-solid fa-trash-can"></i>
            Delete Profile
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fa-solid fa-right-from-bracket"></i>
            Sign Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-md shadow mb-4  mb-lg-0 sidenav ps-3">
  

  <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
  
  <button
    class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidenav"
    aria-controls="sidenav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="fe fe-menu"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="sidenav" style="box-shadow: 50px !important;">
    <div class="navbar-nav flex-column">
      <!-- Dynamic Section for Menu Items -->
      <!-- <span class="navbar-header " style="font-weight: 500;">Account Settings</span> -->
      <div class="profile-section">
        <img src="http://localhost:5164/{{userImageUrl}}" alt="Profile Image" class="profile-image mb-2" />
        <!-- <h3>Welcome {{ userName || 'User' }}</h3> -->
        <!-- <h3>Development Mentor</h3> -->
      </div>
      <!-- <span class="navbar-header " style="font-weight: 500;">Account Settings</span> -->

      <div class="profile-section">
        <img src="http://localhost:5164/{{userImageUrl}}" alt="Profile Image" class="profile-image" />
        <h6>Welcome {{ userName || 'User' }}</h6>
        <!-- <h3>Development Mentor</h3> -->
      </div>
      <ul class="list-unstyled ms-n2 mb-4">
        <!-- Loop through menuItems array -->
        <li class="nav-item" *ngFor="let item of menuItems">
          <a class="nav-link" [routerLink]="item.path">
            <i [class]="item.icon"></i> <!-- Bind icon dynamically -->
            {{ item.label }} <!-- Display label -->
          </a>
        </li>
      </ul>

<div class="text-center mb-2">
      <!-- Static Section for Logout -->
      <span class="navbar-header " style="font-weight: 500; ">Other Actions</span>
    </div>


      <ul class="list-unstyled ms-n2 mb-0">
        <li class="nav-item text-center"> <!-- Add 'text-center' to center text -->
          <a class="nav-link logout-btn" (click)="logout()"> <!-- Add custom class 'logout-btn' -->
            <i [class]="logoutItem.icon" style="color: white;"></i> <!-- Bind logout icon -->
            {{ logoutItem.label }} <!-- Bind logout label -->
          </a>
        </li>

        <li class="nav-item text-center">
          <a class="nav-link home-btn" (click)="backhome()">
            <i [class]="homeItem.icon" style="color: white;"></i> <!-- Bind logout icon -->
            {{ homeItem.label }} <!-- Bind logout label -->
          </a>
        </li>
      </ul>



    </div>
  </div>
</nav>
