<section class="pt-0 pb-5 ">
  <!-- <div class="container"> -->
  <!-- User info -->












  <!-- Content -->

  <div class=" mt-0 mt-md-0 ">
    <!--  -->



    <div class="">
      <!-- Card -->


      <div class="card border-0">
        <!-- Card header -->
        @if(mentor){

        <div id="ps-0 mb-5">
          <div class="comment pe-5 ps-2 pt-2 ">
            <!-- <img src="{{userQueries[0].MentorImageUrl}}"
                            class="avatar-xl rounded-circle border border-4 border-white"
                            style="height: 70px; size: 6px;" alt="avatar"> -->

            <img src="http://localhost:5164/{{mentor.Image}}"
              class="avatar-xl rounded-circle border border-4 border-white" style="height: 70px; size: 6px;"
              alt="avatar">
            <div class="comment-content">

              <p class="mt-2"><strong>{{ mentor.FirstName }} {{mentor.LastName}}
                </strong>
              </p>

            </div>

          </div>
        </div>
        }

        <div class="card-header d-lg-flex justify-content-between align-items-center mt-4">

          <div class="mb-3 mb-lg-0">

            <h3 class="mb-0">Answers</h3>

          </div>

        </div>
        <!-- Card body -->
        <div class="card-body">
          <div class="border-bottom pt-0 pb-0">
            <div class=" ">
              <!-- @for(query of userQueries; track $index; let index = $index){ -->


              <div>

                <!-- @for(query of userQueries; track $index; let index = $index){ -->

                @if(user){
                <div id="ps-0">
                  <div class="answer  ps-2 pt-2 text-muted">
                    <div class="comment-content">

                      <div class=" mb-0 mb-lg-0  pb-3 mt-2 pb-1 gap-0 ps-3"
                        style="font-size: 13px !important; height: 5px;">

                        <span class=" ">Answered On :

                        </span>
                        <span class="mb-0 ">({{ userQueries.DateTime | date: 'dd MMM yyyy'}}) at
                          {{
                          userQueries.DateTime | date: 'hh:mm a' }}</span>
                      </div>




                      <div class="comment-actions">

                        <div class="mt-3 me-0 row justify-content-between">
                          <div class="col-8">
                            <p class="ms-2"><strong class="" style="height: 1px;">
                                <!-- <img src="http://localhost:5164/{{userQueries.UserImageUrl}}"
                                                                class="avatar-xl rounded-circle border border-4 border-white"
                                                                style="height: 70px; size: 6px;" alt="avatar">  -->
                                <img src="http://localhost:5164/{{userQueries.UserImageUrl}}"
                                  class="avatar-xl rounded-circle border border-4 border-white"
                                  style="height: 70px; size: 6px;" alt="avatar">
                                {{user.FirstName}} {{user.LastName}}
                              </strong>

                            </p>
                          </div>
                          @if(userQueries.File ){
                          <!-- <a

                                                        class="btn btn-outline-primary btn-sm ms-0"
                                                        style="border-radius: 25px;"
                                                        (click)="downloadFile(userQueries.File)">
                                                        Download File
                                                     </a> -->
                          <button (click)="downloadFile(userQueries.File)"
                            class="btn btn-outline-primary btn-sm ms-0 col-4 me-5 "
                            style="width: fit-content; height: fit-content; border-radius: 20px;"> Download
                            File</button>
                          <!-- <a class="btn btn-outline-primary btn-sm ms-0 col-4 "
                                                     style="border-radius: 25px; width: 10%;"
                                                        href="http://localhost:5164/{{userQueries.File}}"
                                                        download="true">Download
                                                        File</a> -->
                          }
                        </div>
                        <p class="mt-0 text-dark pe-2 ps-3">
                          {{ userQueries.Question }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                }
                <!-- } -->
                <!-- @for(query of userQueries.QueryAnswers ; track $index; let index = $index){
                                  -->
                @for(answer of userQueries.QueryAnswers ; track $index; let index = $index){

                <!-- @if(mentor.FirstName == query.FirstName){ -->


                @if(answer.IsDeveloper){
                <div id="ps-0">
                  <div class="answer  ps-2 pt-2 text-muted">
                    <div class="comment-content">

                      <div class=" mb-0 mb-lg-0  pb-3 mt-2 pb-1 gap-0 ps-3"
                        style="font-size: 13px !important; height: 5px;">
                        <span class=" ">Answered On : </span>

                        <span class="mb-0  ">({{ answer.DateTime | date: 'dd MMM yyyy'}}) at {{
                          answer.DateTime | date: 'hh:mm a' }}</span>
                      </div>

                      <div class="comment-actions ">

                        <div class="mt-3 me-0 row justify-content-between">
                          <div class="col-8 ">
                            <p class="ms-2"><strong class="" style="height: 1px;"> <!-- <img src="http://localhost:5164/{{user.Image}}"
                                                    class="avatar-xl rounded-circle border border-4 border-white"
                                                    style="height: 70px; size: 6px;" alt="avatar"> -->
                                <img src="http://localhost:5164/{{user.ImagePath}}"
                                  class="avatar-xl rounded-circle border border-4 border-white"
                                  style="height: 70px; size: 6px;" alt="avatar">

                                {{user.FirstName}} {{user.LastName}}
                              </strong>
                            </p>
                          </div>
                          @if(answer.FilePath ){

                          <!-- <a

                                                        class="btn btn-outline-primary btn-sm ms-0"
                                                        style="border-radius: 25px;"
                                                        (click)="downloadFile(answer.FilePath)">
                                                        Download File
                                                     </a> -->
                          <button (click)="downloadFile(answer.FilePath)"
                            class="btn btn-outline-primary btn-sm ms-0 col-4 me-5"
                            style="width: fit-content; height: fit-content; border-radius: 20px;"> Download
                            File</button>
                          }
                        </div>
                        <p class="mt-0 text-dark pe-2 ps-3">
                          {{answer.Answer}}
                        </p>
                      </div>


                    </div>

                  </div>

                </div>
                }


                @if(!answer.IsDeveloper){
                <div id="ps-0 ">
                  <div class="answer  ps-2 pt-2 text-muted">
                    <div class="comment-content">
                      <div class=" mb-0 mb-lg-0  pb-3 mt-2 pb-1 gap-0 ps-3"
                        style="font-size: 13px !important; height: 5px;">
                        <span class=" ">Answered On : </span>

                        <span class="mb-0  ">({{ answer.DateTime | date: 'dd MMM yyyy'}}) at {{
                          answer.DateTime | date: 'hh:mm a' }}</span>

                      </div>


                      <div class="comment-actions ">

                        <div class="mt-3 me-0 row justify-content-between">
                          <div class="col-8">
                            <p class="ms-2"><strong class="" style="height: 1px;"> <!-- <img src="http://localhost:5164/{{mentor.Image}}"
                                                        class="avatar-xl rounded-circle border border-4 border-white"
                                                        style="height: 70px; size: 6px;" alt="avatar"> -->
                                <img src="http://localhost:5164/{{mentor.Image}}"
                                  class="avatar-xl rounded-circle border border-4 border-white"
                                  style="height: 70px; size: 6px;" alt="avatar">
                                <!-- <p style="height: 1px;"> -->
                                <!-- Dina John -->
                                {{mentor.FirstName}} {{mentor.LastName}}
                                <!-- </p> -->
                              </strong>
                              <!-- <p>
                                                            <span class=" pb-0 mt-0 pt-0 gap-0 ps-5 ms-4 d-block " style="font-size: 13px; height: 5px;">({{ answer.DateTime | date: 'dd MMM yyyy'}}) at {{
                                                                    answer.DateTime | date: 'hh:mm a' }}</span>
                                                                    </p> -->
                              <!-- <div class=" mb-0 mb-lg-0 mt-3 pb-1 gap-0 ps-3"> -->
                              <!-- <span class=" ">Answered On : </span> -->



                              <!-- </div> -->

                            </p>

                            <!-- <p class="mt-3">
                                                        {{answer.Answer}}
                                                    </p> -->
                          </div>
                          <!-- <div class="col-4"> -->
                          @if(answer.FilePath){

                          <!-- <a

                                                        class="btn btn-outline-primary btn-sm ms-0"
                                                        style="border-radius: 25px;"
                                                        (click)="downloadFile(answer.FilePath)">
                                                        Download File
                                                     </a> -->
                          <button (click)="downloadFile(answer.FilePath)"
                            class="btn btn-outline-primary btn-sm ms-0 col-4 me-5"
                            style="width: fit-content; height: fit-content; border-radius: 20px;"> Download
                            File</button>
                          <!-- <a class="btn btn-outline-primary btn-sm ms-0 col-4 "
                                                        style="border-radius: 25px; width: 10%;"
                                                        href="http://localhost:5164/{{answer.FilePath}}"
                                                        download="true">Download
                                                        File</a> -->
                          }
                          <!-- </div> -->
                        </div>
                        <p class="mt-0 text-dark pe-2 ps-3">
                          {{answer.Answer}}
                        </p>
                      </div>


                    </div>

                  </div>

                </div>
                }
                }
                <!-- } -->
              </div>

              <!-- } -->



              <div>

                <form (ngSubmit)="submitQuery()" [formGroup]="queryForm">
                  <h5 class="mt-4">Ask your query*</h5>
                  <p class=" text-muted">You can also edit this once payment is done</p>
                  <!-- <textarea class="form-control mb-3 p-4" formControlName="Question"
                                        id="validationTextarea" placeholder="Query" required></textarea> -->

                  <textarea class="form-control mb-3 p-4" id="validationTextarea" placeholder="Query"
                    formControlName="Question" required></textarea>

                  <h5 class=" mt-3">Attach file</h5>
                  <p class="text-muted">Accepted file types are pdf, doc. It should not be more than
                    50 MB.</p>
                  <!-- <div class="upload-container border p-3 text-center row">
                                        <input type="file" id="file-upload" class="upload-input text-center"
                                            (change)="onFileSelected($event)">

                                        <label for="file-upload" class="upload-label col-12">
                                            <i class="fa-solid fa-cloud-arrow-up"></i>
                                            <p class="upload-text">Click here to upload File</p>
                                        </label>
                                    </div> -->


                  <div class="upload-container border p-3 text-center">
                    <input type="file" id="file-upload" (change)="onFileSelected($event)" class="upload-input">
                    <label for="file-upload" class="upload-label">
                      <i class="fa-solid fa-cloud-arrow-up"></i>
                      <p class="upload-text">Click here to upload File</p>
                    </label>
                  </div>
                  <!-- <button class="btn btn-primary btn-block mt-2 ps-5 pe-5 mt-2" (click)="getAnswer(queyid)"
                                        type="submit">Send</button> -->
                  <button class="btn btn-primary btn-block mt-2 ps-5 pe-5 mt-2" type="submit"
                    (click)="onSendButtonClick()">Send</button>

                  <!-- <a class="mb-3 p-2 px-5 mt-3 btn btn-outline-primary btn-sm ms-0"
                                        type="submit">Send</a> -->
                </form>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- </div> -->
</section>
