<main>
  <section class="h-100">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-md-12">
          <!-- Image -->
          <img src="02.jpg" class="img-fluid imgcontact" alt="Contact Us Image">




          <div class="container">
            <form [formGroup]="form" class="pt-4" (ngSubmit)="send()">


              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input formControlName="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                  (blur)="onBlur('Email')" [ngClass]="{
                                  'is-valid': form.controls['Email'].valid && form.controls['Email'].touched,
                                  'is-invalid': form.controls['Email'].invalid && form.controls['Email'].touched
                                }">
                                <!-- <input formControlName="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp"> -->
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  @if (form.controls['Email'].hasError('required')) {
                  <span>Please provide a valid email.</span>
                  }
                  @if (form.controls['Email'].hasError('Email')) {
                  <span>Email must be in the format: user&commat;example.com.</span>
                  }
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div> 

              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input formControlName="Username" type="text" class="form-control" (blur)="onBlur('Username')"
                  [ngClass]="{
                                  'is-valid': form.controls['Username'].valid && form.controls['Username'].touched,
                                  'is-invalid': form.controls['Username'].invalid && form.controls['Username'].touched
                                }">
                                <!-- <input formControlName="Username" type="text" class="form-control" > -->
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Username must be between 3 to 20 characters long and contain only letters, numbers, underscores, and
                  hyphens.
                </div>
              </div> 

              <div class="mb-3">
                <label for="phonenumber" class="form-label">Phone Number</label>
                <input formControlName="PhoneNumber" type="text" class="form-control" (blur)="onBlur('PhoneNumber')"
                  [ngClass]="{
                                  'is-valid': form.controls['PhoneNumber'].valid && form.controls['PhoneNumber'].touched,
                                  'is-invalid': form.controls['PhoneNumber'].invalid && form.controls['PhoneNumber'].touched
                                }">
                                <!-- <input formControlName="PhoneNumber" type="text" class="form-control" > -->
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Phone number must contain exactly 11 digits.
                </div>
              </div> 


              <div class="mb-3">
                <label for="name" class="form-label">Object of complain</label>
                <input formControlName="ObjectOfComplain" type="text" class="form-control" (blur)="onBlur('ObjectOfComplain')" [ngClass]="{
                                  'is-valid': form.controls['ObjectOfComplain'].valid && form.controls['ObjectOfComplain'].touched,
                                  'is-invalid': form.controls['ObjectOfComplain'].invalid && form.controls['ObjectOfComplain'].touched
                                }">
                                <!-- <input formControlName="ObjectOfComplain" type="text" class="form-control" > -->
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Name must contain at least 8 letters.
                </div>
              </div>
              <div class="mb-4">
                <textarea  formControlName="Message" class="form-control bg-transparent" placeholder="Message" style="height: 100px"></textarea>
              </div>

              <button class="btn btn-lg btn-primary mb-0" type="submit"  [disabled]="form.invalid">Send a message</button>
            </form>
          </div>





        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</main>