/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

:root{
  --main-color: #1a535c;
  --secondary-color: #4ecdc4;
  --white-color: #f7fff7;
  --main-accent-color: #ff6b6b;
  --secondary-accent-color: #ffe66d;
  --dark-color: #2D232E;
}

html,
body{
  font-family: 'Comfortaa', cursive;
  background: var(--dark-color);
  
}

span{
  color: var(--main-color);
}

.container{
  background: var(--white-color);
  height: 100vh;
}

h3, h4{
  color: var(--main-color)
}

h6{
  color: var(--secondary-color);
}

.row:first-of-type{
  opacity: 0.5;
  background: transparent!important;
}

.row{
  transition: all ease-out 0.3s;
}
.master{
  display: flex;
  flex-direction: column;

}
.text-right{
  justify-content: right !important;
  text-align: right !important;
}
.in-style{
  border-radius: 10px;
}
.btn-outline-primary{
  border-radius: 10px !important;
  box-shadow:  0 0 5px gray;
}
/* .spaceing{
  height: 100vh;
} */
/*   
.row:hover{
  background: #EBFFEB;
} */

.day-txt{
  display: inline-block;
  transition: all ease-out 0.3s;
}

.row:hover .day-txt{
  transform: translateX(5px);
  text-shadow: 0 0 0;
}

.tp-start-time,
.tp-end-time{
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  transition: all ease-out 0.3s;
}

.tp-start-time:hover,
.tp-end-time:hover{
  transform: scale(1.2);
  text-shadow: 0 0 0 var(--main-color);
  
}


/* timePicker.css */
#tp-modal .modal-footer{
  border: none;
}

#tp-modal .modal-header{
  border: none;
}

#tp-time-cont{
  display: flex;
  text-align: center;
  background: white;
  position: relative;
  align-items: stretch;
}

#tp-colon{
  display: flex;
  justify-content: center;
  align-items: center;
}

#tp-time-cont button{
  border: none;
  background: transparent;
  height: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none!important;
  transition: all ease-out 0.3s;
}

#tp-hour-cont,
#tp-minutes-cont{
  flex-grow: 1;
}

#tp-time-cont button:hover{
  transform: scale(1.3);
  color: var(--main-color);
}

.tp-value{
  font-size: 2rem;
  line-height: 2rem;
}

#tp-set-btn{
  background: var(--main-color);
  border-color: var(--main-color);
}



label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}
