@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://mizzle.webestica.com/assets/images/bg/04.jpg');
    height: 75vh;
    font-family: 'Poppins', sans-serif;
    
}
