<div class="container">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="additional">
            <div class="user-card">
              <div class="level center">New Developer</div>
              <div class="points center">Request</div>
              <img src="01.jpg" alt="User Image" class="profile-image" />
            </div>
            <div class="more-info">
              <h1>Asmaa</h1>
              <div class="stats">
                <div>
                  <div class="title">Day</div>
                  <div class="value">sunday</div>
                </div>
                <div>
                  <div class="title">Month</div>
                  <div class="value">Sep</div>
                </div>
                <div>
                  <div class="title">Time</div>
                  <div class="value">7 pm</div>
                </div>
              </div>
              <div class="buttons">
                <button class="btn btn-success me-2">Accept</button>
                <button class="btn btn-danger">Rejected</button>
              </div>
            </div>
          </div>
          <div class="general">
            <h1>Asmaa Moamen</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis reprehenderit ad facere sapiente vitae.</p>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="additional">
            <div class="user-card">
              <div class="level center">New Developer</div>
              <div class="points center">Request</div>
              <img src="01.jpg" alt="User Image" class="profile-image" />
            </div>
            <div class="more-info">
              <h1>Asmaa</h1>
              <div class="stats">
                <div>
                  <div class="title">Day</div>
                  <div class="value">sunday</div>
                </div>
                <div>
                  <div class="title">Month</div>
                  <div class="value">Sep</div>
                </div>
                <div>
                  <div class="title">Time</div>
                  <div class="value">7 pm</div>
                </div>
              </div>
              <div class="buttons">
                <button class="btn btn-success me-2">Accept</button>
                <button class="btn btn-danger">Rejected</button>
              </div>
            </div>
          </div>
          <div class="general">
            <h1>Asmaa Moamen</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis reprehenderit ad facere sapiente vitae.</p>
          </div>
        </div>
      </div>
  
      <!-- Card 3 -->
      <div class="col-md-6 mb-4">
        <div class="card green">
          <div class="additional">
            <div class="user-card">
              <div class="level center">New Developer</div>
              <div class="points center">Request</div>
              <img src="01.jpg" alt="User Image" class="profile-image" />
            </div>
            <div class="more-info">
              <h1>Asmaa</h1>
              <div class="stats">
                <div>
                  <div class="title">Day</div>
                  <div class="value">sunday</div>
                </div>
                <div>
                  <div class="title">Month</div>
                  <div class="value">Sep</div>
                </div>
                <div>
                  <div class="title">Time</div>
                  <div class="value">7 pm</div>
                </div>
              </div>
              <div class="buttons">
                <button class="btn btn-success me-2">Accept</button>
                <button class="btn btn-danger">Rejected</button>
              </div>
            </div>
          </div>
          <div class="general">
            <h1>Asmaa Moamen</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis reprehenderit ad facere sapiente vitae.</p>
          </div>
        </div>
      </div>
  
      <!-- Card 4 -->
      <div class="col-md-6 mb-4">
        <div class="card green">
          <div class="additional">
            <div class="user-card">
              <div class="level center">New Developer</div>
              <div class="points center">Request</div>
              <img src="01.jpg" alt="User Image" class="profile-image" />
            </div>
            <div class="more-info">
              <h1>Asmaa</h1>
              <div class="stats">
                <div>
                  <div class="title">Day</div>
                  <div class="value">sunday</div>
                </div>
                <div>
                  <div class="title">Month</div>
                  <div class="value">Sep</div>
                </div>
                <div>
                  <div class="title">Time</div>
                  <div class="value">7 pm</div>
                </div>
              </div>
              <div class="buttons">
                <button class="btn btn-success me-2">Accept</button>
                <button class="btn btn-danger">Rejected</button>
              </div>
            </div>
          </div>
          <div class="general">
            <h1>Asmaa Moamen</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis reprehenderit ad facere sapiente vitae.</p>
          </div>
        </div>
      </div>
    </div>
  </div>