<div class="container-fluid">
  <div class="card shadow border-0 rounded-4">
    <div class="card-header bg text-white d-lg-flex justify-content-between align-items-center rounded-top-4">
      <div class="header-content">
        <h3 class="mb-0" style="color: black; font-size: bold;">My Queries From Developer</h3>
        <p class="mb-0">Here is a list of questions/queries that developers have asked you</p>
      </div>
    </div>

    <!-- Loop through user queries -->
    <ng-container *ngFor="let query of userQueries; let i = index;">
      <div class="card-body my-3 rounded shadow p-3">
        <div class="pb-3">
          <div class="row align-items-center">
            <!-- <div class="card-body query-card">
           <div class="row align-items-center"> -->
            <!-- User Image -->
            <div class="col-lg-2 col-12">
              <!-- <img [src]="'http://localhost:5164/' + query.UserImageUrl"
              class="avatar-xl" alt="avatar"> -->
              <img src="avatar-2.jpg" class="avatar-xl" alt="avatar">
            </div>

            <!-- User Info and Query -->
            <div class="col-lg-6 col-12">
              <div class="user-info">
                <span class="user-name">{{ query.FirstName }} {{ query.LastName }}</span>
                <div class="query-text">
                  <strong>Query: </strong>
                  <span>{{ query.Question }}</span>
                </div>
              </div>
            </div>

            <!-- Answer Button -->
            <div class="col-lg-3 text-end">
              <a class="btn custom-btn"
                [routerLink]="['/profile/answer-query', query.Instructor_Id, query.Id, query.User_Id]">
                Answer this query
              </a>
            </div>
          </div>
        </div>
        </div>
    </ng-container>
  </div>
</div>