<section class="pt-5 pb-5 ">
    <div class="container">
        <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="rounded-top"
                    style="background: url(profile-bg.jpg) no-repeat; background-size: cover; height: 100px"></div>
                <div class="card px-4 pt-2 pb-1 shadow-sm rounded-top-0 rounded-bottom-4 rounded-bottom-md-2">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                                <img src="66b372a33d0f5.webp" class="avatar-xl rounded-circle border border-4 border-white"
                                    style="height: 110px; size: 10px;" alt="avatar">
                            </div>
                            <div class="lh-1">
                                <h2 class="mb-0">
                                    Harshad Sawant
                                    <a href="#" data-bs-toggle="tooltip" data-placement="top" aria-label="Beginner"
                                        data-bs-original-title="Beginner">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                        </svg>
                                    </a>
                                </h2>
                                <p class="mb-0 d-block">HarshadSawant</p>
                            </div>
                        </div>
                        <div>
                            <a href="" class="btn btn-outline-primary btn-sm mb-3 p-0 ms-2 btn-account p-2">Account
                                Setting</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->

        <div class="row mt-0 mt-md-4 ">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md shadow  mb-4 mb-lg-0 sidenav">
                    <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                    <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light"
                        type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                    <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="sidenav" style="box-shadow: 50px !important; ">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header fw-bold">Questions</span>
                            <ul class="list-unstyled ms-n2 mb-4">
                                <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-file-circle-question"></i>
                                        My queres
                                    </a>
                                </li>
                                <!-- Nav item -->

                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-rotate-left"></i>
                                        My Quiz Attempt
                                    </a>
                                </li>
                            </ul>
                            <!-- Navbar header -->
                            <span class="navbar-header fw-bold">Account Settings</span>
                            <ul class="list-unstyled ms-n2 mb-0">
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        Edit Profile
                                    </a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-lock"></i>
                                        Security
                                    </a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-user"></i>
                                        Social Profiles
                                    </a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-bell"></i>
                                        Notifications
                                    </a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-user-lock"></i>
                                        Profile Privacy
                                    </a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-trash-can"></i>
                                        Delete Profile
                                    </a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                        Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>



            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card border-0">
                    <!-- Card header -->


                    <div id="ps-0 mb-5">
                        <div class="comment pe-5 ps-2 pt-2 ">
                            <img src="05 (1).jpg" class="avatar-xl rounded-circle border border-4 border-white"
                                style="height: 70px; size: 6px;" alt="avatar">

                            <div class="comment-content">

                                <p class="mt-2"><strong> Stella Flores </strong>
                                    Career Development | Career Growth | Leadership | Career Coaching |
                                    Career Advice </p>

                            </div>

                        </div>
                    </div>

                    <div class="card-header d-lg-flex justify-content-between align-items-center mt-4">

                        <div class="mb-3 mb-lg-0">

                            <h3 class="mb-0">Queries</h3>

                        </div>

                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="border-bottom pt-0 pb-0">


                            <div class=" ">
                                <div class=" mb-2 mb-lg-0  mt-2 pb-2 gap-0 ">
                                    <span class=" ">Asked On : </span>
                                    <span class="mb-0 ">Oct 1, 2020</span>
                                </div>

                          

                                <div id="ps-0">
                                    <div class="answer pe-5 ps-2 pt-0 mb-3  ">
                                        <div class="comment-content">

                                            <div class="comment-actions">

                                                <div class="mt-3 me-5 ms-2">
                                                    <p class="ms-2"><strong class="">Query : </strong> Lorem ipsum
                                                        dolor, sit amet consectetur
                                                        adipisicing elit. Deserunt at iusto fugiat aliquid nobis sint.
                                                        out.</p>

                                                    <button class="btn btn-outline-primary btn-sm ms-0  "
                                                        style="border-radius: 25px;" (click)="downloadFile()">Download
                                                        File</button>

                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                </div>
                                <div class=" mb-0 mb-lg-0  mt-4 pb-2 gap-0 ">
                                    <span class=" ">Aswered On : </span>
                                    <span class="mb-0 ">Oct 1, 2020</span>
                                </div>

                                <div id="ps-0 ">
                                    <div class="answer pe-5 ps-2 pt-2">
                                        <div class="comment-content">

                                            <div class="comment-actions">

                                                <div class="mt-0 me-5 ">
                                                    <p><strong class="ms-3"> Your Answer : </strong> Lorem ipsum dolor,
                                                        sit amet consectetur
                                                        adipisicing elit. Deserunt at iusto fugiat aliquid nobis sint.
                                                    </p>
                                                    <button class="btn btn-outline-primary btn-sm ms-0  "
                                                    style="border-radius: 25px;" (click)="downloadFile()">Download
                                                    File</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <h5 class="mt-4">Enter your answer*</h5>
                                    <!-- <p class=" text-muted">You can also edit this once payment is done</p> -->
                                    <textarea class="form-control mb-3 p-4" id="validationTextarea" placeholder="Answer Query"
                                        required></textarea>



                                    <h5 class=" mt-3">Attach file</h5>
                                    <p class="text-muted">Accepted file types are pdf, doc. It should not be more than
                                        50 MB.</p>
                                    <div class="upload-container border p-3 text-center row">
                                        <input type="file" id="file-upload" class="upload-input text-center"
                                            (change)="onFileSelected($event)">

                                        <label for="file-upload" class="upload-label col-12">
                                            <i class="fa-solid fa-cloud-arrow-up"></i>
                                            <p class="upload-text">Click here to upload File</p>
                                        </label>
                                    </div>


                                    <button
                                        class=" mb-3 p-2 px-5 mt-3 btn btn-outline-primary btn-sm ms-0 ">Send</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>