<app-adminsidebar></app-adminsidebar>


<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">Card 1</div>
                    <div class="card-body">
                        <p>Content for card 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">Card 2</div>
                    <div class="card-body">
                        <p>Content for card 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
