@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://mizzle.webestica.com/assets/images/bg/04.jpg');
    height: 75vh;
    font-family: 'Poppins', sans-serif;

}


















:root,[data-bs-theme=light] {
  --gk-blue: #0d6efd;
  --gk-indigo: #6610f2;
  --gk-purple: #6f42c1;
  --gk-pink: #d63384;
  --gk-red: #dc3545;
  --gk-orange: #fd7e14;
  --gk-yellow: #ffc107;
  --gk-green: #198754;
  --gk-teal: #20c997;
  --gk-cyan: #0dcaf0;
  --gk-black: #000;
  --gk-gray: #475569;
  --gk-gray-dark: #1e293b;
  --gk-gray-black: #000;
  --gk-gray-100: #f1f5f9;
  --gk-gray-200: #e2e8f0;
  --gk-gray-300: #cbd5e1;
  --gk-gray-400: #94a3b8;
  --gk-gray-500: #64748b;
  --gk-gray-600: #475569;
  --gk-gray-700: #334155;
  --gk-gray-800: #1e293b;
  --gk-gray-900: #0f172a;
  --gk-gray-1000: #0b1324;
  --gk-gray-white: #fff;
  --gk-primary: #754ffe;
  --gk-secondary: #64748b;
  --gk-success: #38a169;
  --gk-info: #0ea5e9;
  --gk-warning: #f59e0b;
  --gk-danger: #dc2626;
  --gk-light: #f1f5f9;
  --gk-dark: #0f172a;
  --gk-white: #fff;
  --gk-light-primary: #ede9fe;
  --gk-light-danger: #fad9d8;
  --gk-light-info: #e1f6ff;
  --gk-light-warning: #ffeeda;
  --gk-light-secondary: #e4e3e9;
  --gk-light-success: #d1f5ea;
  --gk-light-dark: #d1cfd8;
  --gk-dark-primary: #593cc1;
  --gk-dark-warning: #c28135;
  --gk-dark-info: #51a0c2;
  --gk-dark-danger: #ae302e;
  --gk-dark-success: #139a74;
  --gk-dark-secondary: #5c596d;
  --gk-primary-rgb: 117,79,254;
  --gk-secondary-rgb: 100,116,139;
  --gk-success-rgb: 56,161,105;
  --gk-info-rgb: 14,165,233;
  --gk-warning-rgb: 245,158,11;
  --gk-danger-rgb: 220,38,38;
  --gk-light-rgb: 241,245,249;
  --gk-dark-rgb: 15,23,42;
  --gk-light-primary-rgb: 237,233,254;
  --gk-light-danger-rgb: 250,217,216;
  --gk-light-info-rgb: 225,246,255;
  --gk-light-warning-rgb: 255,238,218;
  --gk-light-secondary-rgb: 228,227,233;
  --gk-light-success-rgb: 209,245,234;
  --gk-light-dark-rgb: 209,207,216;
  --gk-dark-primary-rgb: 89,60,193;
  --gk-dark-warning-rgb: 194,129,53;
  --gk-dark-info-rgb: 81,160,194;
  --gk-dark-danger-rgb: 174,48,46;
  --gk-dark-success-rgb: 19,154,116;
  --gk-dark-secondary-rgb: 92,89,109;
  --gk-primary-text-emphasis: #2f2066;
  --gk-secondary-text-emphasis: #282e38;
  --gk-success-text-emphasis: #16402a;
  --gk-info-text-emphasis: #06425d;
  --gk-warning-text-emphasis: #623f04;
  --gk-danger-text-emphasis: #580f0f;
  --gk-light-text-emphasis: #334155;
  --gk-dark-text-emphasis: #334155;
  --gk-primary-bg-subtle: #e3dcff;
  --gk-secondary-bg-subtle: #e0e3e8;
  --gk-success-bg-subtle: #d7ece1;
  --gk-info-bg-subtle: #cfedfb;
  --gk-warning-bg-subtle: #fdecce;
  --gk-danger-bg-subtle: #f8d4d4;
  --gk-light-bg-subtle: #f8fafc;
  --gk-dark-bg-subtle: #94a3b8;
  --gk-primary-border-subtle: #c8b9ff;
  --gk-secondary-border-subtle: #c1c7d1;
  --gk-success-border-subtle: #afd9c3;
  --gk-info-border-subtle: #9fdbf6;
  --gk-warning-border-subtle: #fbd89d;
  --gk-danger-border-subtle: #f1a8a8;
  --gk-light-border-subtle: #e2e8f0;
  --gk-dark-border-subtle: #64748b;
  --gk-white-rgb: 255,255,255;
  --gk-black-rgb: 0,0,0;
  --gk-font-sans-serif: "Inter",sans-serif;
  --gk-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --gk-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
  --gk-body-font-family: "Inter",sans-serif;
  --gk-body-font-size: 0.938rem;
  --gk-body-font-weight: 400;
  --gk-body-line-height: 1.6;
  --gk-body-color: #334155;
  --gk-body-color-rgb: 51,65,85;
  --gk-body-bg: #f1f5f9;
  --gk-body-bg-rgb: 241,245,249;
  --gk-emphasis-color: #000;
  --gk-emphasis-color-rgb: 0,0,0;
  --gk-secondary-color: rgba(51,65,85,.75);
  --gk-secondary-color-rgb: 51,65,85;
  --gk-secondary-bg: #e2e8f0;
  --gk-secondary-bg-rgb: 226,232,240;
  --gk-tertiary-color: rgba(51,65,85,.5);
  --gk-tertiary-color-rgb: 51,65,85;
  --gk-tertiary-bg: #f1f5f9;
  --gk-tertiary-bg-rgb: 241,245,249;
  --gk-heading-color: var(--gk-gray-800);
  --gk-link-color: #754ffe;
  --gk-link-color-rgb: 117,79,254;
  --gk-link-decoration: none;
  --gk-link-hover-color: #5e3fcb;
  --gk-link-hover-color-rgb: 94,63,203;
  --gk-code-color: #d63384;
  --gk-highlight-color: #334155;
  --gk-highlight-bg: #fff3cd;
  --gk-border-width: 1px;
  --gk-border-style: solid;
  --gk-border-color: var(--gk-border-color);
  --gk-border-color-translucent: #cbd5e1;
  --gk-border-radius: 0.375rem;
  --gk-border-radius-sm: 0.25rem;
  --gk-border-radius-lg: 0.5rem;
  --gk-border-radius-xl: 0.75rem;
  --gk-border-radius-xxl: 2rem;
  --gk-border-radius-2xl: var(--gk-border-radius-xxl);
  --gk-border-radius-pill: 50rem;
  --gk-box-shadow: 0px 3px 6px rgba(17,24,39,.1);
  --gk-box-shadow-sm: 0px 1px 3px rgba(17,24,39,.09);
  --gk-box-shadow-lg: 0 6px 8px 0 rgba(17,24,39,.08),0 0 0 1px rgba(17,24,39,.04);
  --gk-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,.075);
  --gk-focus-ring-width: 0.25rem;
  --gk-focus-ring-opacity: 0.25;
  --gk-focus-ring-color: rgba(117,79,254,.25);
  --gk-form-valid-color: #38a169;
  --gk-form-valid-border-color: #38a169;
  --gk-form-invalid-color: #dc2626;
  --gk-form-invalid-border-color: #dc2626
}















/* Ensure each carousel item takes the full width of the carousel */
.carousel-item {
  width: 100%;
  display: flex; /* Center the card in the carousel */
  justify-content: center;
  align-items: center;
  padding: 30px; /* Add padding for better visual separation */
}

/* Style the carousel controls (prev/next buttons) */
.carousel-control-prev, .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 50%; /* Make them circular */
  width: 40px;
  height: 40px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
}

/* Style the developer card to be visually appealing */
app-developercard {
  width: 350px; /* Ensure a standard card width */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Add styles for carousel indicators */
.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.carousel-indicators .active {
  background-color: black;
}


.image-size {
  width: 15%;
  height: auto;
}


.icon-shape {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle
}
.rounded-circle {
  border-radius: 50%!important
}


.icon-xs {
  height: 1.5rem;
  line-height: 1.5rem;
  width: 1.5rem
}

.icon-sm {
  height: 2rem;
  line-height: 2rem;
  width: 2rem
}

.icon-md {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem
}

.icon-lg {
  height: 3rem;
  line-height: 3rem;
  width: 3rem
}

.icon-xl {
  height: 3.5rem;
  line-height: 3.5rem;
  width: 3.5rem
}


.fs-1 {
  font-size: calc(1.425rem + 2.1vw)!important
}

.fs-2 {
  font-size: calc(1.375rem + 1.5vw)!important
}

.fs-3 {
  font-size: 1.25rem!important
}

.fs-4 {
  font-size: 1rem!important
}

.fs-5 {
  font-size: .875rem!important
}

.fs-6 {
  font-size: .75rem!important
}

.py-lg-8 {
  padding-bottom: 3.5rem!important;
  padding-top: 3.5rem!important
}
.py-6 {
  padding-bottom: 2.5rem!important;
  padding-top: 2.5rem!important
}
.py-lg-6 {
  padding-bottom: 2.5rem!important;
  padding-top: 2.5rem!important
}
.g-4,.gy-4 {
  --gk-gutter-y: 1.5rem
}
.offset-xxl-2 {
  /* margin-left: 16.66666667% */
  margin-left: 17% !important

}
.col-xxl-4 {
  flex: 0 0 auto;
  width: 33.33333333%
}
.col-xxl-5 {
  flex: 0 0 auto;
  width: 41.66666667%
}

.offset-xxl-1 {
  margin-left: 8.33333333%
}


.offset-xl-1 {
  margin-left: 8.33333333%
}
.mb-xxl-6 {
  margin-bottom: 2.5rem!important
}
.img-fluid,.img-thumbnail {
  height: auto;
  max-width: 100%
}
.roundimg {
  border-radius:12px !important;
}
.order-xl-2 {
  order: 2!important
}
.order-2 {
  order: 2!important
}

.order-md-1 {
  order: 1!important
}
.order-1 {
  order: 1!important
}

/* .rounded-4 {
  border-radius: var(--gk-border-radius-xl)!important
} */
.w-100 {
  width: 100%!important
}
.mb-8 {
  margin-bottom: 3.5rem!important
}

.position-relative {
  position: relative!important
}


.position-absolute {
  position: absolute!important
}

.top-50 {
  top: 50%!important
}
.start-100 {
  left: 100%!important
}
.start-10 {
  left: 10%!important
}

.translate-middle {
  transform: translate(-50%,-50%)!important
}
.mt-n8 {
  margin-top: -3.5rem!important
}

.start-0 {
  left: 0!important
}
.mt-n2 {
  margin-top: -.5rem!important
}
.mt-8 {
  margin-top: 3.5rem!important
}
.offset-xl-1 {
  margin-left: 8.33333333%
}
.offset-lg-1 {
  margin-left: 8.33333333%
}
.gap-6 {
  gap: 2rem!important
}
.gap-2 {
  gap: .5rem!important
}
.gap-8 {
  gap: 3.5rem!important
}
.gap-5 {
  gap: 2rem!important
}
.gap-xxl-3 {
  gap: 1rem!important
}
.gap-0 {
  gap: 0!important
}
.col-xxl-1 {
  flex: 0 0 auto;
  width: 8.33333333%
}
.icon-lg {
  height: 3rem;
  line-height: 3rem;
  width: 3rem
}

.icon-shape {
  /* margin-top: 10px !important; */
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle
}
.gap-xxl-3 {
  gap: 1rem!important
}
.fs-5 {
  font-size: .875rem!important
}
.bottom-10 {
  bottom: 10%!important
}
.shadow {
  box-shadow:  3px 6px rgba(17,24,39,.1) !important;
  /* box-shadow: var(--gk-box-shadow)!important */
}
.avatar-md {
  height: 2.5rem;
  width: 2.5rem
  /* height: .2px !important;
  width: .2 !important; */
}
.avatar {
  display: inline-block;
  height: 3rem;
  position: relative;
  width: 3rem
  /* height: .1px !important;
  width: .2px !important; */
}

.avatar-group .avatar+.avatar {
    margin-left:  -1.2rem
}

.avatar-group .avatar:hover {
    z-index: 2
}

.avatar-group .avatar .avatar-initials,.avatar-group img {
    border: 3px solid white
}

.fw-semibold {
  font-weight: 600!important
}
.bottom-0 {
  bottom: 0!important
}

.row {
  --gk-gutter-x: 1.5rem;
  --gk-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gk-gutter-x)*-.5);
  margin-right: calc(var(--gk-gutter-x)*-.5);
  margin-top: calc(var(--gk-gutter-y)*-1)
}

.g-lg-0,.gy-lg-0 {
  --gk-gutter-y: 0
}

.g-4,.gy-4 {
  --gk-gutter-y: 1.5rem
}

.me-n7 {
  margin-right: -3rem!important
}
.bottom-25 {
  bottom: 25%!important
}
.ms-n8 {
  margin-left: -3.5rem!important
}

.end-0 {
  right: 0!important
}
.rounded-pill {
  border-radius: 50rem!important
}
.g-0,.gx-0 {
  --gk-gutter-x: 0
}
.py-2 {
  padding-bottom: .5rem!important;
  padding-top: .5rem!important
}
.px-3 {
  padding-left: 1rem!important;
  padding-right: 1rem!important
}
.text-reset{
  font-size: 30px !important;
  text-decoration: none;
  text-decoration-style: none;
}
.mins-5{
  margin-left: 80px !important;
}
=======
.btn-custom {
  background-color: #415bcf;; /* Black background */
  color: #fff; /* White text color */
  font-size: 1.25rem; /* Increase font size */
  padding: 0.75rem 1.5rem; /* Increase width and height */
  border-radius: 0.25rem; /* Optional: rounded corners */
  border: none; /* Remove border if desired */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure the button respects padding */
  width: 100%;
}
.btn-success {
  background-color: #415bcf; /* Red background */
  color: #fff; /* White text color */
  font-size: 1.25rem; /* Increase font size */
  padding: 0.75rem 1.5rem; /* Increase width and height */
  border-radius: 0.25rem; /* Optional: rounded corners */
  border: none; /* Remove border if desired */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure the button respects padding */
  width: 100%;
}
.text-reset{
  font-size: 25px !important;
  text-decoration: none !important;
}

/*** VARS ***/

/* #c8c: #c8c; */
/* lighten(#303f9f, 20%): lighten(#303f9f, 20%); */
/* #c5cae9: #c5cae9; */



/*** GENERAL STYLES ***/
/* 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */
body{
  font-family: 'Dosis', sans-serif;
  background: #c5cae9;
  text-align: center;
}
.clear{clear:both;}


/*** CARD STLES ***/

/* .cards-container{
  width: 793px;
  max-width: 100%;
  margin: 2rem auto;
}
.card{
  float: left;
  margin: 3rem;
} */

.card-one{
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(#000,.4);
  
  header{
    position: relative;
    /* width: 100%; */
    height: 60px;
    background-color: rgb(141, 136, 204);
    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;bottom: 0;left: 0;right: 0;
      background: inherit;
    }
    &::before{
      -webkit-transform: skewY(-8deg);
      -moz-transform: skewY(-8deg);
      -ms-transform: skewY(-8deg);
      -o-transform: skewY(-8deg);
      transform: skewY(-8deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    &::after{
      -webkit-transform: skewY(8deg);
      -moz-transform: skewY(8deg);
      -ms-transform: skewY(8deg);
      -o-transform: skewY(8deg);
      transform: skewY(8deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
    .avatar{
      position: absolute;
      left: 50%;
      top: 30px;
      margin-left: -50px;
      z-index: 5;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: #ccc;
      border:3px solid #fff;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
      }
    }
  }

  h3{
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
    &::after{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 1px;
      background: #000;
    }
  }
  .desc{
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: #777;
  }
  .contacts{
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3rem;
    a{
      display: block;
      width: 33.333333%;
      /* float: left; */
      text-align: center;
      color: #c8c;
      &:hover{
        color: #333;
        .fa{
          &::before{
            color: #fff;
          }
          &::after{
            width: 100%;
            height: 100%;
          }
        }
      }
      .fa{
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 39px;
        overflow: hidden;
        text-align: center;
        font-size: 1.3em;
        &:before{
          position: relative;
          z-index: 1;
        }
        &::after{
          content: '';
          position: absolute;
          top: 50%; left: 50%;
          width: 0; height: 0;
          -webkit-transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          background: #c8c;
          -webkit-transition: width .3s, height .3s;
          -moz-transition: width .3s, height .3s;
          -ms-transition: width .3s, height .3s;
          -o-transition: width .3s, height .3s;
          transition: width .3s, height .3s;
        }
      }
      &:last-of-type .fa{line-height: 36px;}
    }
  }
  
  footer{
    position: relative;
    padding: 1rem;
    background-color: lighten(#303f9f, 20%);
    text-align: center;
    a{
      padding: 0 1rem;
      color: #e2e2e2;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -ms-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
      &:hover{
        color: #c8c;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: -27px;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-bottom-color: lighten(#303f9f, 20%);
    }
  }
}

.card-two{
  /* position: relative; */
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(#000,.4);
  
  header{
    position: relative;
    /* width: 100%; */
    height: 60px;
    background-color: #00376E;
    &::after{
      content: '';
      position: absolute;
      top: 0;bottom: 0;left: 0;right: 0;
      background: inherit;
    
      -webkit-transform: skewY(8deg);
      -moz-transform: skewY(8deg);
      -ms-transform: skewY(8deg);
      -o-transform: skewY(8deg);
      transform: skewY(8deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
    .avatar{
      position: absolute;
      left: 50%;
      top: 30px;
      margin-left: -50px;
      z-index: 5;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: #ccc;
      border:3px solid #fff;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
      }
    }
  }

  h3{
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
    &::after{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 1px;
      background: #000;
    }
  }
  .desc{
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: #777;
  }
  .contacts{
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3.5rem;
    a{
      display: block;
      width: 33.333333%;
      /* float: left; */
      text-align: center;
      color: #c8c;
      &:hover{
        color: #333;
        .fa{
          &::before{
            color: #fff;
          }
          &::after{
            top: 0;
          }
        }
      }
      .fa{
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 39px;
        overflow: hidden;
        text-align: center;
        border: 2px solid #c8c;
        border-radius: 50%;
        &:before{
          position: relative;
          z-index: 1;
        }
        &::after{
          content: '';
          position: absolute;
          top: -50px; left: 0;
          width: 100%; height: 100%;
          -webkit-transition: top .3s;
          -moz-transition: top .3s;
          -ms-transition: top .3s;
          -o-transition: top .3s;
          transition: top .3s;
          background: #c8c;
        }
      }
      &:last-of-type .fa{line-height: 36px;}
    }
  }
  
  footer{
    position: relative;
    height: 45px;
    background-color: lighten(#303f9f, 20%);
    text-align: center;
    p{
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
      z-index: 1;
      a{
        padding: 0 1rem;
        color: #e2e2e2;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -ms-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
        &:hover{
          color: #c8c;
        }
      }
    }
    &::before{
      z-index: 0;
      content: '';
      position: absolute;
      top: 0px;bottom: 0;left: 0;right: 0;
      background: inherit;
    
      -webkit-transform: skewY(8deg);
      -moz-transform: skewY(8deg);
      -ms-transform: skewY(8deg);
      -o-transform: skewY(8deg);
      transform: skewY(8deg);
      -webkit-transform-origin: 100%;
      -moz-transform-origin: 100%;
      -ms-transform-origin: 100%;
      -o-transform-origin: 100%;
      transform-origin: 100%;
    }
  }
}


/*** RESPONSIVE ***/

@media only screen and (max-width: 810px) {
  .card {
    /* float: none; */
    margin-left: auto;
    margin-right: auto;
  }
}



.btn-outline-primary {
  --bs-btn-color: #00376E !important;
  --bs-btn-border-color: #00376E !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00376E !important;
  --bs-btn-hover-border-color: #00376E !important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00376E !important;
  --bs-btn-active-border-color: #00376E !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #00376E !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00376E !important;
  --bs-gradient: none;
}
.cards-container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important; /* Aligns cards horizontally */
  gap: 2rem !important; /* Adds space between cards */
  width: 793px !important;
  max-width: 100% !important;
  margin: 2rem auto;
}

.card {
  flex: 0 0 300px; /* Ensures all cards have a fixed width */
  background: #fff;
  margin: 3rem;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, .4);
}

