.container {
  max-width: 800px;
}

.quiz-card {
  animation: fadeIn 0.5s ease-in-out;
}

.btn-warning {
  background-color: #1C4980;
  color: #fff;
  border: #1C4980;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}