.container {
  margin-top: 2rem;
}

.custom-card {

  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

.card-title {
  color: #007bff;
  font-size: 1.75rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.text-danger {
  color: #dc3545;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}

.d-flex .form-control {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}