<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card custom-card">
        <div class="card-body">
          <h3 class="card-title">Education</h3>
          <form >
            <div>
              <div *ngFor="let education of educationslist; let i = index" class="mb-3">
                <button type="button" (click)="removeEducation(i)" class="btn btn-danger">X</button>
                <!-- University -->
                <div class="form-group">
                  <label for="university-{{i}}">University / School</label>
                  <input name="university-{{i}}" type="text" class="form-control"
                    [(ngModel)]="educationslist[i].University" placeholder="University / School ex.Assuit University">
                  <div *ngIf="educationslist[i].University==''" class="text-danger">
                    University is required
                  </div>
                </div>

                <!-- Faculty -->
                <div class="form-group">
                  <label for="faculty-{{i}}">Faculty</label>
                  <input name="faculty-{{i}}" type="text" class="form-control" [(ngModel)]="educationslist[i].Faculty"
                    placeholder="Computer Science">
                  <div *ngIf="educationslist[i].University==''" class="text-danger">
                    Faculty is required
                  </div>
                </div>

                <!-- Field of Study -->
                <div class="form-group">
                  <label for="fieldOfStudy-{{i}}">Field of study</label>
                  <input name="fieldOfStudy-{{i}}" type="text" class="form-control"
                    [(ngModel)]="educationslist[i].FieldOfStudy" placeholder="CS">
                  <div *ngIf="educationslist[i].FieldOfStudy==''" class="text-danger">
                    Field of study is required
                  </div>
                </div>

                <!-- Country -->
                <div class="form-group">
                  <label for="country-{{i}}">Country of Study</label>
                  <select name="country-{{i}}" class="form-control" [(ngModel)]="educationslist[i].CountryOfStudy">
                    <option value="">Select your country</option>
                    <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
                  </select>
                  <div *ngIf="educationslist[i].CountryOfStudy==''" class="text-danger">
                    Country of residence is required
                  </div>
                </div>

                <!-- Degree -->
                <div class="form-group">
                  <label for="degree-{{i}}">Degree</label>
                  <select name="degree-{{i}}" class="form-control" [(ngModel)]="educationslist[i].Degree">
                    <option value="">Select your degree</option>
                    <option value="High School Diploma">High School Diploma</option>
                    <option value="Associate Degree">Associate Degree</option>
                    <option value="Bachelor's Degree">Bachelor's Degree</option>
                    <option value="Master's Degree">Master's Degree</option>
                    <option value="Doctorate">Doctorate (or equivalent)</option>
                    <option value="Professional Degree">Professional Degree (e.g., JD, MD)</option>
                    <option value="Postdoctoral Studies">Postdoctoral Studies</option>
                  </select>
                  <div *ngIf="educationslist[i].Degree==''" class="text-danger">
                    Degree is required
                  </div>
                </div>

                <!-- Start Date -->
                <div class="form-group">
                  <label for="startDate-{{i}}">Start Date</label>
                  <input name="startDate-{{i}}" type="date" class="form-control"
                    [(ngModel)]="educationslist[i].StartDate">
                  <div *ngIf="educationslist[i].StartDate.toString()==''" class="text-danger">
                    Start date is required
                  </div>
                </div>

                <!-- End Date -->
                <div class="form-group" *ngIf="!educationslist[i].TillNow">
                  <label for="endDate-{{i}}">End Date</label>
                  <input name="endDate-{{i}}" type="date" class="form-control" [(ngModel)]="educationslist[i].EndDate">
                  <div *ngIf="educationslist[i].EndDate?.toString()==''" class="text-danger">
                    End date is required
                  </div>
                </div>

                <!-- Currently Studying Checkbox -->
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" name="currentlyStudying-{{i}}"
                    [(ngModel)]="educationslist[i].TillNow">
                  <label class="form-check-label" for="currentlyStudying-{{i}}">Currently Studying</label>
                </div>
              </div>
            </div>

            <div class="row justify-content-between">
              <button type="button" class="btn btn-primary mt-3 me-3  col-6" (click)="addEducation()"
                title="Click to add another education entry">+</button>
            </div>
          </form>

        </div>

      </div>
      <button type="button" class="btn btn-secondary mt-3 ms-3  col-2"
      (click)="goToPreviousStep()">Back</button>
    <button type="button" class="btn btn-primary mt-3 ms-3 col-2" [disabled]="checklist()!=undefined" (click)="onNext()">Next</button>
    </div>
  </div>
</div>
