nav {
  position: fixed;
  top: 0;
  bottom: 5;
  width: 100%;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  height: 10vh;
}

.nav-link, .active, .navbar-brand {
  color: #415bcf !important;
  font-weight: bold;
}
.nav-link:hover{
  text-decoration: underline;
  color: #415bcf;
}
.nav-image{
  width: 20%;
}
