<div class="reset-password-container">
  <div class="card">
    <img src="logo 3_processed.jpg" class="card-image">
    <h2 class="card-title">Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" class="form-control" placeholder="Enter your email" />
        <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Enter a valid email.</small>
      </div>

      <div class="form-group">
        <label for="code">Reset Code:</label>
        <input id="code" formControlName="code" type="text" class="form-control" placeholder="Enter reset code" />
        <small *ngIf="resetPasswordForm.get('code')?.errors?.['required']">Reset code is required.</small>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input id="newPassword" formControlName="newPassword" type="password" class="form-control" placeholder="Enter new password" />
        <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">New password is required.</small>
        <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">The Password must have at least 8 with numbers,special and capital charachters</small>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
  </div>
</div>
