<app-adminsidebar></app-adminsidebar>
<!-- <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="quizName">Quiz Name:</label>
    <input id="quizName" formControlName="quizName" required>
  </div>

  <div>
    <label for="numberOfQuestions">Number of Questions:</label>
    <input id="numberOfQuestions" type="number" formControlName="numberOfQuestions" required>
  </div>

  <div>
    <label for="duration">Duration (in minutes):</label>
    <input id="duration" type="number" formControlName="duration" required>
  </div>

  <div>
    <label for="skillId">Skill:</label>
    <select id="skillId" formControlName="skillId" required>
      <option *ngFor="let skill of skills" [value]="skill.Id">{{ skill.Name }}</option>
    </select>
  </div>

  <button type="submit" [disabled]="quizForm.invalid">Create Quiz</button>
</form>
 -->





  <!-- Card containing the form -->
  <div class="card form-card mt-4 mx-3"> <!-- mt-4 and mx-3 add margin for spacing -->
    <div class="card-header text-center bg-primary text-white">
      <h5>Add Quiz Form</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="QuizName">Quiz Name:</label>
          <input type="text" id="QuizName" formControlName="QuizName" class="form-control" placeholder="Enter Quiz Name">
        </div>

        <div class="form-group mb-3">
          <label for="NumberOfQuestions">Number of Questions:</label>
          <input type="number" id="NumberOfQuestions" formControlName="NumberOfQuestions" class="form-control" placeholder="Enter Number">
        </div>

        <div class="form-group mb-3">
          <label for="Duration">Duration (in minutes):</label>
          <input type="number" id="Duration" formControlName="Duration" class="form-control" placeholder="Duration">
        </div>

        <div class="form-group mb-3">
          <label for="SkillId">Skill:</label>
          <select id="skillId" formControlName="SkillId" class="form-control">
            <option *ngFor="let skill of skills" [value]="skill.Id">{{ skill.Name }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary w-100">Create Quiz</button>
      </form>
    </div>
  </div>
