.container {
  margin-top: 2rem;
}

.custom-card {

  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

.card-title {
  color: #007bff;
  font-size: 1.75rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.custom-ng-select .ng-select-container {
  border-radius: 10px;
  border: 1px solid #007bff;
  transition: border-color 0.3s ease;
}

.custom-ng-select .ng-select-container:hover {
  border-color: #0056b3;
}

.text-danger {
  color: #dc3545;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: green !important;
} */

/* .skill-selector {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
} */

.selected-skills {
  margin-bottom: 10px;
}

.skill-tag {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
}

.remove-skill {
  cursor: pointer;
  margin-left: 8px;
}

.skill-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.suggested-skills {
  margin-top: 10px;
}

.skill-suggestion {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.skill-suggestion:hover {
  background-color: #d0d0d0;
}
