html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  background-image: url(/public/guide.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}

.custom-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

.card-title {
  color: #007bff;
  font-size: 1.75rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.text-danger {
  color: #dc3545;
}

.btn-primary {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
