.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
   background-color:#070e3f;

}

.sidebar a {
  color: white;
}

.nav  a:hover {
  background-color: #223df6; /* #495057;*/
  text-decoration: none;
}
.navbar-brand a:hover {
  background-color: transparent !important;
  text-decoration: none;

}
.nav-item-button {

  margin-top: 50px;
  display: flex; /* استخدام flexbox */
  justify-content: center; /* مركز المحتوى أفقياً */
  align-items: center; /* مركز المحتوى عمودياً */
  height: 100%; /* تأكد من أن العنصر يأخذ الارتفاع الكامل */
}


.nav-link {
  margin: 0; /* إزالة أي هوامش غير مرغوب فيها */
}

.text-bg-danger {

  color: white; /* لون النص الأبيض */
  border: none; /* إزالة الحدود إذا كانت موجودة */
  padding: 10px 20px; /* ضبط الهوامش الداخلية حسب الحاجة */
  border-radius: 5px; /* إضافة زوايا دائرية للزر */
  cursor: pointer; /* تغيير شكل المؤشر عند تمرير الفأرة فوق الزر */
  transition: background-color 0.3s; /* تأثير انتقال سلس عند تغيير اللون */
}
.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  /* width: 100px; */
}

/* Custom style for the logout button */
.logout-btn {
  color: white; /* White text */
  background-color: rgb(218, 17, 17); /* Red background */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 5px; /* Add rounded corners */
  display: inline-block; /* Keep the button inline */
  width: 100%; /* Ensure the button spans the full width */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from the link */
}

.logout-btn:hover {
  background-color: rgb(194, 18, 18); /* Darken the background on hover */
}
.logout-btn, .home-btn {
  margin-bottom: 10px;
}




