<div class="sidebar">
  <a class="navbar-brand" routerLink="/">
      <img class="light-mode-item navbar-brand-item" src="rodri.jpg" alt="logo" height="150" width="250">
  </a>
  <ul class="nav flex-column">

      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/usersData" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/sessions" routerLinkActive="active">Sessions</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/Quizes" routerLinkActive="active">Quizes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/Reviews" routerLinkActive="active">Reviews</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/contacts" routerLinkActive="active">List of contacts</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/skills" routerLinkActive="active">Add skills </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/Role" routerLinkActive="active">Change Role</a>
      </li>
      <li class="nav-item-button">
          <button class="nav-link fw-bold text-bg-danger ">log out</button>
      </li>
  </ul>
</div>
