/* Top navbar for mobile view */
.navbar {
  background-color: #f8f9fa;
  padding: 10px 15px;
  text-align: center;
}
.custome-margin{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}
.navbar-toggler {
  border: none;
  z-index: 1000;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  padding: 10px 20px;
  color: #fffafa;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background-color: #e2e6ea;
  color: #007bff;
}

/* Sidebar (only for larger screens) */
@media (min-width: 768px) {
  .sidebar {
    width: 250px;
    background-color: #415bcf;
    color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
  }
}

/* Main content adjustments */
.main-content {
  padding: 20px;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 250px;
  }
}

/* Ensure container takes full width and height */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .navbar-toggler {
    position: relative;
    top: 1px;
    left: 10px;
    z-index: 1000;
    /* color: white; */
    background-color: #ffffff;
  }

  .navbar-collapse.show {
    display: block;
  }
}

@media (min-width: 900px) and (max-width: 991px) {
  .sidebar {
    width: 250px; /* Adjust as needed */
    
  }
  .custome-margin{
    margin-left: 229px !important;
    padding-right: 0px !important;
    margin-right: 0px;
  }
}
@media (min-width: 865px) and (max-width: 900px) {
  .sidebar {
    width: 250px; /* Adjust as needed */
    
  }
  .custome-margin{
    margin-left: 210px !important;
  /* padding: 15px !important; */
  padding-left: 40px !important;
  }

}
@media (min-width: 768px) and (max-width: 865px) {
  .sidebar {
    width: 250px; /* Adjust as needed */
    
  }
  .custome-margin{
    margin-left: 210px !important;
  padding-right: 10px !important; 
  padding-left: 40px !important;
  }

}
@media (max-width: 768px)  {
  .custome-margin{
    width: 100% !important; /* Adjust as needed */
    
  }
  /* .custome-margin{
    margin-left: 220px !important;
  padding-right: 30px !important; 
  padding-left: 40px !important;
  } */

}


/* 
@media (min-width: 997px) and (max-width: 1193px) {
  .col-lg-8{
    width: 75%;
  }
} */
/* @media (min-width:980px) and (max-width: 997px) {
  .col-lg-8{
    width: 75%;
  }
}
@media  (max-width: 764px) {
  .col-lg-8{
    width: 90% !important;
  }
  .col-md-8{
    width: 90% !important;
  }
} */