<br>
<div class="container mt-5">
  <h2 class="display-4 fw-bold text-center" style="
      font-family: Edu AU VIC WA NT Hand, cursive;
      font-optical-sizing: auto;
      font-style: normal;
">Quizzes</h2>
<br>
<br>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">


<div class="d-flex flex-wrap justify-content-between gap-3 mt-4">
  <div *ngFor="let skill of skillslist" class="quiz-card">
    <app-quiz-card [skill]="skill"></app-quiz-card>
  </div>
</div>
