<br>
<br>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">

<h5 class="display-4 fw-bold text-center" style="
font-family: 'Edu AU VIC WA NT Hand', cursive;
font-optical-sizing: auto;
font-style: normal;">Reviews From Developers</h5>

<br>
<div class="container">
  <div class="row">
    <!-- Left side card with rating info -->
    <div class="col-12 col-md-4 mb-4">
      <div class="left-card">
        <div class="rating">
          <h2>5.0</h2>
          <div class="stars">
            <span>⭐⭐⭐⭐⭐</span>
          </div>
          <p>Average Rating</p>
          <p>(24 Reviews)</p>
        </div>
      </div>
    </div>

    <!-- Review section -->
    <div class="col-12 col-md-7 offset-md-1">
      <div class="reviews">
        <div *ngFor="let Review of Reviews">
          <app-reviews-card [review]="Review" class="review-card"></app-reviews-card>
        </div>
      </div>
    </div>
  </div>
</div>
