<h2 class="mt-5 ms-3">Reviews From Mentors</h2>
<div class="container">
  <!-- <div class="row"> -->
    <!-- <div class="col-4">
      <app-profile-side-bar></app-profile-side-bar>
    </div> -->
    <!-- <div class="col-"> -->
      <div class="row">
        <div class="col-4">
          <div class="left-card">
            <div class="rating">
              <h2>5.0</h2>
              <div class="stars">
                <span>⭐️⭐️⭐️⭐️⭐️</span>
              </div>
              <p>Average Rating</p>
              <p>(24 Reviews)</p>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="reviews">
            <div *ngFor="let Review of Reviews">
              <app-reviews-card [review]="Review" class="review-card"></app-reviews-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  

