<form>
  <div class="master">
    <div class="card p-5">
      <!-- Header -->
      <div style="background-color: #e7f1ff; border-radius: 15px; box-shadow: 0 0 10px gray; padding: 20px;">
        <h5>Set Schedule</h5>
        <div class="p-3">
          <div class="row mb-3">
            <div class="col-6">Day</div>
            <div class="col-3">Start</div>
            <div class="col-3">End</div>
          </div>

          <div *ngFor="let day of Working_Hours; let i = index">
            <div class="row justify-content-between mb-2">
              <div class="col-3">
                <span class="day-txt">{{ day['Day'] }} </span>
              </div>
              <div class="col-9 row">
                <div class="col-4" *ngIf="!day['Available']">
                  <button type="button" class="btn btn-outline-primary" (click)="available(i)">Available</button>
                </div>
                <div class="col-4" *ngIf="day['Available']">
                  <button type="button" class="btn btn-outline-primary" (click)="notavailable(i)">Cancel</button>
                </div>
                <div class="col-4" *ngIf="day['Available']">
                  <input class="form-control text-center" (change)="setTime(i, true, $event)" id="start-{{i}}"
                    type="time" required />
                </div>
                <div class="col-4" *ngIf="day['Available']">
                  <input class="form-control text-center" (change)="setTime(i, false, $event)" id="end-{{i}}"
                    type="time" required />
                </div>
              </div>
            </div>
          </div>

          <!-- Display errors -->
          <div *ngFor="let error of Errors">
            <p class="text-danger">{{ error }}</p>
          </div>
        </div>
      </div>

      <!-- Price Section -->
      <div class="row m-1 mt-4"
        style="background-color: #e7f1ff; border-radius: 15px; box-shadow: 0 0 10px gray; padding: 20px;">
        <div class="col-5">
          <h5>Price per hour</h5>
        </div>
        <div class="col-5">
          <input class="form-control" #price (input)="checkPrice(price.value)" [value]="SessionPrice" type="number"
            required />
          <span class="text-danger">{{ priceError }}</span>
        </div>
        <div class="col-2">
          <label>EGP</label>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="text-right mt-3">
        <button type="button" [disabled]="AllDone" class="btn btn-outline-primary px-4">Submit</button>
      </div>
    </div>
  </div>
</form>
