<app-adminsidebar></app-adminsidebar>



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">
<br>
<br>
<div class="quiz-list">
  <h3 class="display-4 fw-bold text-center"
    style="font-family: Edu AU VIC WA NT Hand, cursive;font-optical-sizing: auto;font-style: normal;">
    Quizzes Solved
  </h3>
  <br>
  <br>

  <!-- Search Box -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by Quiz Name" class="search-input" />
    <button (click)="onSearch()" class="search-button">Search</button>
  </div>
  <br>
  <br>
  <table>
    <thead>
      <tr>
        <th>Quiz Name</th>
        <th>User Name </th>
        <th>Scored</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of quizzesSolved">
        <td>{{ quiz.QuizName }}</td>
        <td>{{ quiz.UserName }}</td>
        <td>{{ quiz.Score }}</td>
        <td>{{ quiz.Passed }}</td>
      </tr>
    </tbody>
  </table>
</div>

