<div class="container">
  <div class="card">
    <div class="card-header">
      Change Password
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input
          type="password"
          id="oldPassword"
          class="form-control"
          formControlName="oldPassword"
          [ngClass]="{ 'is-invalid': changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.invalid }"
        />
        <div *ngIf="changePasswordForm.get('oldPassword')?.hasError('required') && changePasswordForm.get('oldPassword')?.touched" class="invalid-feedback">
          Old password is required.
        </div>
        <div *ngIf="changePasswordForm.get('oldPassword')?.hasError('incorrectOldPassword') && changePasswordForm.get('oldPassword')?.touched" class="invalid-feedback">
          Old password is incorrect.
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          class="form-control"
          formControlName="newPassword"
          [ngClass]="{ 'is-invalid': changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid }"
        />
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched" class="invalid-feedback">
          New password is required.
        </div>
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength') && changePasswordForm.get('newPassword')?.touched" class="invalid-feedback">
          New password must be at least 6 characters.
        </div>
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern') && changePasswordForm.get('newPassword')?.touched" class="invalid-feedback">
          New password must be at has one captial letter and number and specific charachter
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.invalid }"
        />
        <div *ngIf="changePasswordForm.hasError('passwordsMismatch') && changePasswordForm.get('confirmPassword')?.touched" class="invalid-feedback">
          Passwords do not match.
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Change Password</button>
      </div>

    </form>
  </div>
</div>
