.container {
  margin-top: 50px;
  background-size: cover; /* Make the background image cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  /* height: 100vh; Full viewport height */
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}


.card {
  border-radius: 10px;
  width: 100%; /* Ensures full width within column */
  max-width: 600px; /* Set a max width for better alignment */
}

.card-header {
  background-color: #415bcf; /* Change to your desired color */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.5rem; /* Adjust font size */
  font-weight: bold; /* Make the text bold */
  line-height: 1.5; /* Control line height */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
}

.card-body {
  padding: 20px; /* Add padding to the card body */
}

.form-group {
margin-top: 20px;
  margin-bottom: 20px; /* Space between form groups */
  padding-left: 70px;
  width: 80%;
}

input.is-invalid {
  border-color: #e3342f;
}

.invalid-feedback {
  color: #e3342f;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #415bcf;
  border: none;
  text-align: center;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-primary:hover {
  background-color: white;
  color: #415bcf;
  border: 2px solid #415bcf;
  font-size: large;
  width: 50%;
}

.text-center {
  margin-top: 20px;
}

h3 {
  margin: 0;
}
