<mat-card>
  <mat-card-header>
    <mat-card-title>{{ education.Degree }} in {{ education.FieldOfStudy }}</mat-card-title>
    <mat-card-subtitle>{{ education.University }} - {{ education.Faculty }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="education.Faculty">Faculty: {{ education.Faculty }}</p>
    <p>
      Dates: {{ formatDate(education.StartDate) }} -
      <span *ngIf="education.TillNow; else endDate">
        Present
      </span>
      <ng-template #endDate>
        {{ education.EndDate ? formatDate(education.EndDate) : 'N/A' }}
      </ng-template>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button aria-label="Edit education" (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>


